:root {
  --primary-color: #4e4e4e;
  --secondary-color: #d2cabf;
  --tertiary-color: black;
  --background-color: beige;
}

/* BASE */

main {
  margin: 2rem 0;
  min-height: 100vh;
}

footer {
  height: 50vh;
  color: white;
  background-color: black;
  margin-top: auto;
}

/* UTILS */
