{% extends 'public/base.html' %}

{% block body %}
<div class="container justify-content-center mt-5">
    <div class="row text-center">
        <h2>Contact</h2>
    </div>
</div>

<div class="form-container">
    <form action="" class="my-5">
            <label for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name" placeholder="Enter your name..." required>

            <label for="email">Email</label>
            <input class="form-control" type="email" name="email" id="email" placeholder="Enter your email..." required>

            <label for="message">Message</label>
             <textarea name="message" class="form-control" placeholder="Enter your message..." required rows="7" id=""></textarea>
        <!-- </div> -->
        <button class="btn btn-primary" type="submit">Send Message</button>
    </form>
</div>
{% endblock %}